@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
* {
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.4em;
}
#receivePage, #historyPage, #aboutPage{
  transition: none;
  visibility: hidden;
  transform: scale(0.9);
  height: 0%;
  width: 0%;
  opacity: 0%;
}
#receivePage, #historyPage, #aboutPage, #index{
  overflow: hidden;
}

#passwordDiv, .lead, .donation{
  font-family: Quicksand,sans-serif;
}
.lead{
  font-weight: 600;
}
.clearfix, .textBox, p, table{
  font-family: Roboto,sans-serif;
}
.clearfix{
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px;
}
.autocomplete-items {
  margin-top: 0.4rem;
  font-family: Quicksand,sans-serif;
  position: absolute;
  border-bottom: none;
  border-top: none;
  max-height: 60vh;
  overflow: auto;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  border-radius: 0.4rem;
}
.autocomplete-items div {
  word-break: break-all;
  padding: 7px 15px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
  border-radius: 0.4rem;
}
.autocomplete-active {
  background-color: #e9e9e9 !important;
  border-radius: 0.4rem;
}


#right {
  position: absolute;
  z-index: 43;
  right: 1.5rem;
  top: 1rem;
  display: inline-flex;
  align-items: center;
}
.currentPage{
  border-bottom: 1px solid #fff;
}
#filtersubmit {
  color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
}
#filtersubmit:hover {
  opacity: 0.6;
}

#currentSelectedHiddenHash,
#backgroundUpload {
  display: none;
}

html,
body {
  text-align: center;
  margin: 0;
}

body {
  padding: 0vh 1.5rem 0% 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin-bottom: 0;
  text-align: center;
}

#historyButtons{
  text-align: center;
}

#resetImage {
  color: #fff;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
}
#resetImage:hover {
  opacity: 0.6;
}

#unencryptedUpload h2 {
  margin-top: 0;
}

#red,
#notification1,
#notification2,
#notification3 {
  color: #db3e4d;
  font-weight: 500;
}
#whatsappSharer,
#telegramSharer,
#emailSharer,
#smsSharer,
#copyFirstLink,
#copySecondLink {
  color: #fff;
}

p {
  margin-top: 2.5vh;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 16px;
  color: #6f6f6f;
}
.footer a {
  margin-left: 1vw;
  margin-right: 1vw;
}

a:link {
  color: #6d91c7;
  text-decoration: none;
}

a:visited {
  color: #3157a7;
}

a:hover {
  color: #db3e4d;
  text-decoration: underline;
}

a:active {
  color: #db3e4d;
  text-decoration: underline;
}

#adDoFrame {
  margin-top: 2vh;
  max-width: 480px;
  width: 90%;
}
.donation {
  font-size: 12px;
}

#donationLink{
  color: #fff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word;
}
#notice {
  font-size: 16px;
  color: #6f6f6f;
}
.receiveHeadline {
  margin-top: 0px;
}

.boxInput {
  margin-top: 1rem;
  font-family: "Quicksand", sans-serif;
  border: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  text-align: left;
  text-indent: 1rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 100%;
}

.longLink {
  display: none;
}

#historyLongText{
  margin-top: 52px;
}

.longText {
  max-width: 700px;
  padding-top: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 4vh;
  overflow: auto;
  height: 87vh;
  text-align: left;
  border-radius: .7rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

::-webkit-scrollbar {
  width: 16px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.boxButton {
  border-radius: 0.3rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 8rem;
  color: #fff;
  border: 0px;
  background-color: #db3e4d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-appearance: none;
}
.boxButton:hover {
  background-color: #a30025;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-height: 5vh;
  min-height: 32px;
  margin-top: 8vh;
  margin-bottom: 1vh;
}

.uploader {
  display: block;
  clear: both;
}
#receiveTextBox{
  margin-top: 2vh;
}
.sharingHeadline {
  margin-top: 0em;
  margin-bottom: 0.83em;
  color: #3157a7;
}

a.share {
  color: #fff;
  text-decoration: none;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-top: 0.4rem;
  margin-bottom: 2vh;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

#whatsappSharer,
#telegramSharer {
  margin-bottom: 0px;
}

a.share:hover {
  filter: brightness(85%);
}

.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.7rem;
  background: #fff;
  border: 3px solid #fff;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.textBox {
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 2.5vh;
  text-align: center;
  border-radius: 0.7rem;
  background: #fff;
  border: 3px solid #fff;
  width: 100%;
  max-width: 480px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#searchload{
  float: right;
  width: 20%;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
#searchMenu{
  font-family: Roboto,sans-serif;
  margin-bottom: -1rem;
}

#loadProgress, #loadProgressReceive {
  background-color: #6d91c7;
  border-radius: 0.25rem;
  margin-left: 3vw;
  margin-right: 3vw;
}

#loadProgressSearch{
  background-color: #fff;
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.indexPage {
  margin-bottom: 0.5rem;
}

#loadBar, #loadBarReceive {
  width: 0%;
  height: 0.5rem;
  background-color: #393f90;
  border-radius: 0.25rem;
}

#loadBarSearch{
  width: 0%;
  height: 0.5rem;
  background-color: #6d91c7;
  border-radius: 0.25rem;
}

#firstField{
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  float: left;
  width: 80%;
  margin-bottom: 0px;
}

#notSupported {
  display: none;
  color: #db3e4d;
}

#notSupported > i {
  font-size: 30px;
  margin-bottom: 1rem;
}

#noticeHeadline {
  line-height: 1;
  margin-top: 0;
  text-align: center;
  color: #000000;
}

.signRef:visited {
  color: #6f6f6f;
  pointer-events: none;
  cursor: default;
}
.uploader label:hover {
  /* border-color: #6d91c7; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.uploader label.hover {
  border: 3px solid #6d91c7;
  box-shadow: inset 0 0 0 6px #eee;
}

.uploader #start {
  float: left;
  clear: both;
  width: 100%;
  padding: 7vh;
}
.uploader #start.hidden {
  display: none;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
#video-ovelay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: none;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-right: 2vw;
  padding-left: 2vw;
  cursor: pointer;
}

#videocontainer{
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 56.25%;
  max-width: 854px;
}
#htmlvideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 480px;
  max-width: 854px;
}

@media screen and (max-height: 480px){
  #videocontainer{
    max-width: 560px;
  }
  #video-ovelay{
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  #htmlvideo{
    max-height: 315px;
    max-width: 560px;
  }
}

#videoLink, #videoLink2{
  cursor: pointer;
}
#videoLink:hover, #videoLink2:hover{
  color: #db3e4d;
}

.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline-block;
  margin: 0 auto 0.5rem auto;
  max-width: 100%;
  max-height: 150px;
}

.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  max-width: 180px;
  border: 0;
  border-radius: 4px;
  background-color: #bdbdbd;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #bdbdbd;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #6d91c7 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #6d91c7 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}

#ipfsHash,
#password,
#ipfsLink {
  font-size: 12px;
}
#passwordProtected, #headline{
  color: #fff
}

#ipfsHash:hover,
#messages,
#messagesReceivePage {
  color: #db3e4d;
}
#messagesSearch {
  font-family: Roboto,sans-serif;
  color: #db3e4d;
  margin-left: auto;
  margin-right: auto;
}

.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #6d91c7;
  border-color: #6d91c7;
  cursor: pointer;
}
