/* Style the tab */
.tab {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  margin-bottom: 0.8px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: transparent;
  float: left;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 0.4rem;
}

.tab button:hover {
  color: #db3e4d;
}

.tab button.active {
  text-decoration: underline;;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}
